{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="container px-4">
    <div class="w-50 m-auto">
        <h1 class="text-center">Inscrivez-vous !</h1>

        {{ form_start(form) }}
        {{ form_row(form.Username, {label: 'Pseudonyme'}) }}
        {{ form_row(form.email, {label: 'email'}) }}
        {{ form_row(form.password, {label: 'mot de passe'}) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}